[submodule "src/third_party/rapidjson"]
	path = src/third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/third_party/spdlog"]
	path = src/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/third_party/fmt"]
	path = src/third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/third_party/parallel-hashmap"]
	path = src/third_party/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "src/third_party/oatpp"]
	path = src/third_party/oatpp
	url = https://github.com/oatpp/oatpp.git
[submodule "src/third_party/argh"]
	path = src/third_party/argh
	url = https://github.com/adishavit/argh.git
[submodule "src/third_party/sqlite_modern_cpp"]
	path = src/third_party/sqlite_modern_cpp
	url = https://github.com/SqliteModernCpp/sqlite_modern_cpp.git
[submodule "src/third_party/wykobi"]
	path = src/third_party/wykobi
	url = https://github.com/ArashPartow/wykobi.git
[submodule "src/third_party/xxhash_cpp"]
	path = src/third_party/xxhash_cpp
	url = https://github.com/RedSpah/xxhash_cpp.git
